<div>Body of App</div>

<!--<form action="/">
  <div>
    <label>Email:</label>
    <input type="text">
  </div>
    <label>Password:</label>
    <input type="text">
  </div>
  <button type="submit">Sign In</button>
</form>-->